.container {
  padding-bottom: 5rem;
}

.review {
  list-style: none;
  background: var(--color-gray-bright);
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
}
.contents {
  background: #fff;
  padding: 0.5rem 0.5rem;
}

.row {
  display: flex;
}

.row .nickname {
  text-align: right;
  padding-left: 1rem;
  color: #666;
}

.content {
  padding: 0.3rem 0rem;
}
