.container {
  padding-bottom: 5rem;
  position: relative;
}

.reviewContainer {
  margin: 0 0.5rem;
}

.review {
  list-style: none;
  background: var(--color-blue-bright);
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.contents {
  background: #fff;
  padding: 0.5rem 0rem;
}

.title {
  padding: 0 1rem;
  margin-bottom: 3px;
}

.row {
  display: flex;
}

.score {
  padding: 0 1rem;
}
.gray {
  text-shadow: 0 0 0 #b1b1b1;
  color: #b1b1b1;
}

.contents .nickname {
  text-align: left;
  padding: 0 1rem;
  color: #666;
}

.content {
  padding: 0 1rem;
}

.date {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
  color: #666;
}

hr {
  margin-bottom: 3px;
}

.thumbs{
  display:flex;
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

.hate {
  margin-left:0.5rem;
}
