@value grayColor, blueColor,whiteColor from '../../../common/colors.css';
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.header{
  height: 60px;
  display:flex;
  align-items:center;
  padding: 0 1em;
  position: relative;
}
.logo{
  width: fit-content;
  font-size: 1.5em;
  font-family: 'SEBANG_Gothic_Bold';
  padding: 0 1em;
}
.btn{
  font-family: 'InfinitySans-RegularA1';
  width: 80px;
  height : 40px;
  background-color:transparent;
  border: 2px solid #999;
  border-radius: 4px;
  color: #999;
  font-weight: 600;
  cursor:pointer;
  position:absolute;
  right: 1em;

}

.hover{
  background-color:#999;
  color : #fff;
}

.menu{
  list-style: none;
  display:flex;
}
.menuList{
  margin-right: 1.5em;
  cursor:pointer
}
