@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}


.logo {
  width: 60px;
  height: 60px;
  margin-right: 1em;
  cursor: pointer;
}

.btn {
  font-family: 'InfinitySans-RegularA1';
  width: 80px;
  height: 40px;
  background-color: transparent;
  border: 2.5px solid var(--color-primary);
  border-radius: 4px;
  color: #999;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.menu {
  list-style: none;
  display: flex;
}

.menuList {
  margin-right: 1.5em;
  cursor: pointer;
}

.signUpBtn {
  cursor: pointer;
  color: #bbb;
  margin-right: 1em;
  font-size: 14px;
}

.signUpBtn:hover {
  font-weight: 600;
}

.floatRight {
  position: absolute;
  right: 1em;
}