@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  border-radius: 10px;
}

.app {
  background-color: #fff;
  width: 100%;
}

*:hover {
  transition: 0.3s;
}

.header {
  height: 60px;
  z-index: 100;
  display: flex;
  align-items: center;
  position: -webkit-sticky; /* 사파리 브라우저 지원 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid var(--color-primary-bright);
  padding: 0 calc((100% - 1000px) / 2);
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 1em;
  cursor: pointer;
}

.btn {
  font-family: 'InfinitySans-RegularA1';
  width: 80px;
  height: 40px;
  background-color: transparent;
  border: 2.5px solid var(--color-primary);
  border-radius: 4px;
  color: #999;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.menu {
  list-style: none;
  display: flex;
}

.menuList {
  margin-right: 1.5em;
  cursor: pointer;
  width: 60%;
}

.signUpBtn {
  cursor: pointer;
  color: #bbb;
  margin-right: 1em;
  font-size: 14px;
}

.signUpBtn:hover {
  font-weight: 600;
}

.floatRight {
  position: absolute;
  right: calc((100% - 1000px) / 2);
}

.searchForm {
  border: 1px solid #eee;
  border-radius: 10px;
  width: 30%;
  position: relative;
}

.searchForm input {
  border: none;
  display: inline-block;
  width: 100%;
  padding: 13px 70px 13px 20px;
}

input:focus {
  outline: 2px solid var(--color-primary-bright);
  border-radius: 10px;
}

.searchBtn {
  position: absolute;
  margin-top: 5px;
  right: 6px;
}

.fullPrimaryBtn {
  font-family: 'InfinitySans-RegularA1';
  background-color: #dfccf0;
  padding: 0.5rem 1rem;
  height: fit-content;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.fullPrimaryBtn:hover {
  background-color: var(--color-primary);
}

@media (max-width: 1024px) {
  .floatRight {
    position: absolute;
    right: 1rem;
  }
}
@media (max-width: 768px) {
  .searchForm {
    display: none;
  }
}

@media (max-width: 500px) {
  .menu {
    list-style: none;
    display: none;
  }
}
