.row {
  display: grid;
  grid-template-columns: 1fr 1fr 12fr;
  margin-top: 0.5rem;
}

.numOfLikes,
.numOfComments {
  min-width: 50px;
}
.communitySection {
  padding: 0rem 3rem 0rem 3rem;
}
.pastTime {
  text-align: right;
}

.item {
  padding: 1rem 0rem 0.5rem 0rem;
}
.item:hover {
  cursor: pointer;
}

.title {
  font-size: 1.1rem;
  padding: 0.2rem 0rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.4rem;
}

.category {
  font-size: 0.8rem;
  color: #555;
}
.hr {
  margin-top: 1rem;
  border: 1px solid #f2f2f2;
}

.content {
  padding: 0.5rem 0rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5rem;
  max-height: 3.7rem;
}

.absolute {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
}

.none {
  padding: 3rem 0rem;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
