.container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
h3 {
  margin: 0.8rem 0;
}

.box {
  border-radius: 10px;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}
.waiting {
  background-color: var(--color-yellow-bright);
}
.confirm {
  background-color: var(--color-blue-bright);
}

.label {
  border: none;
  display: flex;
  padding: 0.5rem 0rem;
}
dd {
  flex: 1 1;
  margin-left: 0;
  text-align: center;
}

.student {
  padding: 0.5rem 0rem;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
}

.info {
  display: flex;
}
.student:nth-last-child(1) {
  margin-bottom: 0px;
}

.btn {
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
}

.reason {
  padding: 0.5rem 0.5rem;
  margin-left: 4px;
  line-height: 1.7;
}

.hr {
  margin: 4px 0px;
}
