h3 {
  padding: 1rem 0rem 0.5rem 0rem;
}
.container {
  padding: 1rem 1rem;
}

.classes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.title {
  text-align: left;
  height: 60px;
  margin-left: 0px;
  width: calc(100% - 80px);
}
.class {
  border-radius: 10px;
  padding: 1rem 1rem;
  height: 130px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.class:hover {
  bottom: 1px;
  -webkit-box-shadow: 1px 22px 36px -14px rgba(111, 111, 111, 0.41);
  box-shadow: 1px 22px 36px -14px rgba(111, 111, 111, 0.41);
}

.number,
.date {
  color: #666;
  font-size: 13px;
  text-align: right;
}

.classSt {
  width: fit-content;
  right: 20px;
  padding: 4px 8px;
  position: absolute;
  background-color: var(--color-blue);
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.will {
  background-color: var(--color-blue);
}
.ing {
  background-color: var(--color-green);
}
.done {
  background-color: var(--color-gray);
}

@media (max-width: 486px) {
  .classes {
    grid-template-columns: repeat(2, 1fr);
  }
}
