.container {
  width : 100%;
  margin-top: 40px;
  padding: 2 rem 0rem;
}
.title{
  font-size : 1.1rem;
  font-weight : 600;
  padding: 1rem 1rem;
}

.cardContainer {
  display:flex;
  flex-wrap :wrap;
  justify-content:space-between;
  position: relative;
}

.card {
  position:relative;
  background-color : #fff;
  min-width: 30%;
  height: 180px;
  border-radius: 13px;
  box-shadow: var(--box-shadow);
  padding: 16px 16px;
  margin-bottom: 20px;
  margin-right: 1%;
}

.card:hover {
  background: rgb(103, 78, 149);
  background: linear-gradient(330deg, rgba(103, 78, 149, 1) 6%, rgba(179, 156, 208, 1) 72%);
  color: #fff;
}

.card:hover .etc {
  color: #ddd;
}

.etc {
  font-size: 13px;
  color: #999;
}

.bold {
  font-weight: 600;
}

.classSt {
  width: fit-content;
  right: 20px;
  padding: 4px 8px;
  position: absolute;
  background-color: var(--color-blue);
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
}

.card:hover .classSt {
  color: var(--color-blue);
  background-color : #fff;
}