.container{
  width:96%;
  background-color: #eee;
  border-radius: 20px;
  padding: 10px 10px;
}
.filterDiv{
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 10px;
  margin-bottom: 5px;
}
.filterDiv:nth-child(3){
  margin-bottom: 0px;
}
.filterGroup{
  display:flex
}
.filterTitle{
  padding: 2px 0px 4px 4px;
  font-size: 14px;
}
.item{
  font-size: 13px;
  list-style: none;
  border : 2px solid none;
  background-color: #CCB8E2;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  min-width: 60px;
  text-align: center;
  margin-right: 8px;
}