.item {
  list-style: none;
  display: flex;
  align-items: center;
  height: 35px;
}

.item dd {
  width: 80px;
  color: #aaa;
  font-size: 90%;
  text-align: left;
}

.item dl {
  flex: 1 1 80%;
}

.insProfile {
  padding: 0 0.5rem;
  width: 50%;
}

.infoGroup {
  margin-top: 1rem;
  display: flex;
  margin-top: 50px;
}
.info {
  width: 50%;
}
h4 {
  background: none;
  padding: 16px 0px 8px 0px;
  margin-bottom: 8px;
}

.intro {
  background-color: var(--color-gray-bright);
  padding: 1rem 1rem;
  min-height: 70%;
}
