.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.insContainer {
  background: var(--color-gray-bright);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6%;
  margin-bottom: 2rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.insContainer:hover {
  position: relative;
  bottom: 1px;
  -webkit-box-shadow: 1px 22px 36px -14px rgba(111, 111, 111, 0.41);
  box-shadow: 1px 22px 36px -14px rgba(111, 111, 111, 0.41);
}

.imgSection {
  flex: 1 1 25%;
}

.infoSection {
  flex: 1 1 65%;
  background: #fff;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
}

.profileImg {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}

.insItem {
  width: 100%;
  display: flex;
}

.span {
  display: block;
  width: 70%;
  text-align: left;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  margin-top: 5px;
}

label {
  width: 50px;
}

@media (max-width: 680px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .insContainer {
    min-width: 80%;
  }
}
