.container {
  display: flex;
  width: 100%;
}

.section {
  background-color: rgba(238, 238, 238, 0.3);
  border-radius: 16px;
  padding: 1em 1em;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
p {
  font-size: 0.8rem;
  color: #bbb;
}

.class {
  flex-grow: 2;
}

.auth:hover {
  cursor: pointer;
  transform: scale(1.005);
}
