.container {
  display: flex;
  width: 100%;
}

.section {
  background-color: rgba(238, 238, 238, 0.3);
  border-radius: 10px;
  padding: 1em 1em;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
p {
  font-size: 0.8rem;
  color: #bbb;
}

.class{
  width: 100%;
}

.auth:hover {
  cursor: pointer;
  transform: scale(1.005);
}

.list {
  list-style: none;
  padding: 0.5rem 1rem;
}

.radioGroup {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-right:  1rem;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + .radioForm {
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 1em;
  color: #666;
  width: 10em;
  text-align: center;
}

input[type='radio'] + .radioForm {
  background-color: #fff;
  color: #333;
  color: #666;
}

input[type='radio']:checked + .radioForm {
  background: var(--color-primary-bright);
}

label {
  text-align: center;
}
