* {
  box-sizing: border-box;
  border-radius: 10px;
}

.app {
  min-height: calc(100vh - 330px);
  margin-top: 80px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 400px;
}

*:hover {
  transition: 0.3s;
}
