@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.borderPrimaryBtn {
  font-family: 'InfinitySans-RegularA1';
  background-color: transparent;
  border: 2.5px solid var(--color-primary);
  border-radius: 4px;
  padding: 0.35rem 1em;
  height: fit-content;
  color: #999;
  font-weight: 400;
  cursor: pointer;
}
.borderPrimaryBtn:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.fullPrimaryBtn {
  font-family: 'InfinitySans-RegularA1';
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  height: fit-content;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.fullPrimaryBtn:hover {
  background-color: var(--color-primary-darker);
}

.fullGrayBtn {
  font-family: 'InfinitySans-RegularA1';
  background: var(--color-gray);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.fullGrayBtn:hover {
  background: #999;
  transform: 0.2s;
}

.borderGrayBtn {
  font-family: 'InfinitySans-RegularA1';
  background-color: transparent;
  border: 2px solid var(--color-gray);
  border-radius: 4px;
  padding: 0.4rem 0.2rem;
  color: #999;
  font-weight: 400;
  cursor: pointer;
  font-size: 12px;
}

.borderGrayBtn:hover {
  background-color: var(--color-gray);
  color: #fff;
}

.end {
  font-family: 'InfinitySans-RegularA1';
  background: #888;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 400;
  cursor: not-allowed;
}

.fullBtn {
  font-family: 'InfinitySans-RegularA1';
  padding: 0.5rem 1rem;
  height: fit-content;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.red {
  background-color: var(--color-red);
}
.blue {
  background-color: var(--color-blue);
}
.green {
  background-color: var(--color-green);
}
