:root {
  --color-primary : #B39CD0;
  --color-primary-darker : #7E6999;
  --color-blue : #3A8FC5;
  --color-red : #ffa3b6;
  --color-yellow : #ffd476;

  --box-shadow : 5px 4px 13px 1px rgba(0, 0, 0, 0.14);
  --drop-shadow : 
}