:root {
  --color-primary-bright: #f7f0fc;
  --color-primary: #b39cd0;
  --color-primary-darker: #7e6999;
  --color-blue: #8195cf;
  --color-blue-bright: #e9f0fc;
  --color-red: #ffa3b6;
  --color-red-bright: #ffe7df;
  --color-yellow: #fee18b;
  --color-yellow-bright: #feedb2;
  --color-green: #a3d864;
  --color-green-bright: #e4f8a9;
  --color-gray-bright: rgba(238, 238, 238, 0.5);
  --color-gray: #bec0be;
  --box-shadow: 5px 4px 13px 1px rgba(0, 0, 0, 0.14);
  --push-shadow: -5px -4px 13px 1px rgba(0, 0, 0, 0.14);
}
